body{
	color: black;
}
*{
	box-sizing: border-box;
}
#header-nav{
width                : 100%;
background-color     : gray;
border-radius        : 0;
border               : 0;
border: 1px solid black;
}
.navbar-brand h1{
	font-family: 'Sriracha',serif;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    text-transform: uppercase;
	font-weight: bold;
	color: black;
	font-size: 1.5em;
}
.navbar-brand {
    margin-bottom: 20px;
    margin-top: 0px; 
}
.navbar-brand a:hover ,.navbar-brand a:focus ,.navbar-brand a:active {
	text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
border: 1px solid black;
}
#collapsable-nav {
	border: 10px black;
}
#nav-list{
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid black;
}

#nav-list hr{
	background-color: black;
	border:0;
	margin: 0;
	height: 1px;

}
#collapsable-nav a {
background-color: white;
}
#collapsable-nav a:hover,#collapsable-nav a:active,#collapsable-nav a:focus {
background-color: gray;
}
#class h3 {
	margin-top: -5px; 
}
#class section div {
	padding: 15px;
	background-color: gray;
	margin: 5px;
}
#class section  {
	padding: 15px;
}
#class section div.backtotop {
	padding: 0;
	margin: 0;
}